/*REGLAS GENERALES*/
*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-image: url(../IMG/fondo-body.png);
    background-size: cover;
    background-position: center top;
}
/*HEADER Y NAV*/
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    background-color: #00000096;
    position: absolute;
    position: fixed;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav li{ 
    white-space: nowrap;
    font-weight: bold;
    list-style: none;
    padding: 15px;
}

nav li a{
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid ; */
    color: #ffffff;
    text-decoration: none;
}

nav li a:hover{
    color: #000000;
    background-color: #ffffff;
}
/*FIN HEADER Y NAV*/

/*PRESENTACIÓN NOMBRE E IMAGEN*/
#img-perfil figure img{
    margin-top: 20%;
    /* margin-right: 30%; */
    height: 380px;
    border-radius: 100%;
    -webkit-box-shadow: 8px 10px 14px 3px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 8px 10px 14px 3px rgba(255, 255, 255, 0.7);
    box-shadow: 8px 10px 14px 3px rgba(255, 255, 255, 0.7);
}

#contenedor-texto{
    margin-top: 10%;
}
#contenedor-texto h1{
    font-family: 'Alkatra', cursive;
    font-size: 3rem;
}
#contenedor-texto span{
    padding: 4px;
    border-radius: 5px;
    background-color: hsla(295, 88%, 47%, 0.411);
}
#contenedor-texto h4{
    margin-bottom: 15px;
    font-family: 'Alkatra', cursive;
    font-size: 2.5rem;
}

#section1{
    padding: 8% 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    height: 95vh;
    /* background-image: url(../IMG/fondo.png); */
    /* border-bottom: 2px solid; */
}

#curriculum{
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    background-color: #cf0ee1;
    padding: 5px;
    text-decoration: none;

}

#curriculum:hover{
    background-color: #000000;
}
/*FIN PRESENTACIÓN NOMBRE E IMAGEN*/

#acerca-de-mi{
    color: #ffffff;
    height: auto;
}
#mi-trabajo{
    color: #ffffff;
    height: auto;
}

#cont-img-texto{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
#img-perfil-2 img{
    margin-top: 30%;
    height: 350px;
    border-radius: 100%;
    -webkit-box-shadow: 8px 10px 14px 3px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 8px 10px 14px 3px rgba(255, 255, 255, 0.7);
    box-shadow: 8px 10px 14px 3px rgba(255, 255, 255, 0.7);
}
#contendor-acerca{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor-texto-2{
    line-height: 25px;
    padding: 10px;
    background-color: #e569f045;
    margin-top: 6%;
    width: 40%;
    height: 35%;
    border-radius: 10px;   
}

#mi-trabajo{
    padding: 5%;
    text-align: center;
    /* background-image: url(../IMG/fondo.png); */
    /* border-bottom: 2px solid; */
}

#mi-trabajo img{
    margin: 5px 0px 10px 0px;
    height: 140px;
    border-radius: 0px;
}

#mi-trabajo h2{
    padding-top: 40px;
}

#contenedor-trabajos{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#contenedor-trabajos h4, h3, p{
    margin: 4px 5px 14px 5px;
}
#contenedor-trabajos>div{
    display: flex;
    flex-direction: column;
    color: #000000;
    background-color: #ffffffac;
    border-radius: 3px;
    margin: 20px 40px;
    border: 1px solid;
    height: 300px;
    width: 300px;
}


#contenedor-trabajos a{
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 6px;
    padding: 3px;
    border: 1px solid black;
}

#contenedor-trabajos a:hover{
    color: #ffffff;
    background-color: #000000;
}

figcaption{
    margin-bottom: 5px;
}

#logos-about img{
    padding: 5px 30px 5px 30px;
    height: 50px;
}
#logos-about{
    display: flex;
    justify-content: center;
}

/*SECCIÓN DE CONTACTO*/
#contacto{
    display: flex;
    justify-content: center;
    /* padding: 2%; */
    color: #ffffff;
    /* background-image: url(../IMG/fondo.png); */
    height: 94vh;
    flex-direction: column;
    align-items: center;
}
#contenedor-texto-formulario{
    background-color: #ffffff ;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}
#formulario-texto{
    margin: 20px;
    color: #000000;
    height: 300px;

}
#formulario-texto img{
    padding: 10px;
    height: 25px;
}

.formulario{
    
    padding: 20px;
    color: #000000;
    background-color: #ffffff;
    /* margin: 0 auto; */
    /* border: 2px solid #000000; */
    border-radius: 5px;
    width: 350px;
    resize: none;
}

form .label{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}

form textarea{
    padding: 6px;
    border: none;
    height: 150px;
    resize: none;
}
form input{
    padding: 6px;
    border: none;
    height: 25px;
}
form input,textarea{
   background-color: #e3e0e0; 
}

#buttom{
    padding: 5px 20px;
}
#buttom:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

#estudios{
    margin-top: 1.5rem;
    border-radius: 5px;
    width: 70%;
    background-color: #e569f045;
}
.certificados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.certificados img{
    margin: 2%;
    height: 150px;
    transition: 0.5s;
    cursor: pointer;
}

.certificados img:hover{
    transform: scale(1.2);
}

.imagen-popup{
    position: fixed;
    top: 4rem;
    margin: auto;
    background: rgba(0,0,0,.8);
    height: 80%;
    width: 80%;
    z-index: 100;
    display: none;
}

.imagen-popup span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3rem;
    cursor: pointer;
    z-index: inherit;
}

.imagen-popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 550px;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    text-align: center;
    /* height: 5vh; */
    color: #000000;
    background-color: #d00ee169;
}
.mostrar-responsive{
    display: none;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    #img-perfil-2 img{
        height: 250px;
    }
    #img-perfil figure img{
        margin: 26% 30px 0px 0px;
        height: 250px;
    }
    #contenedor-texto{
        padding-left: 40px;
        margin-top: 10%;
    }
    #section1{
        height: 60vh;
    }
    #contenedor-texto-2{
        width: 55%;
    }
    #acerca-de-mi{
        margin-top: 5%;
        height: auto;
    }
    .mostrar-responsive{
        display: none;
    }
    .imagen-popup img{
        height: 80%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    #img-perfil figure img{
        height: 250px;
        margin-top: 1%;
    }

    #acerca-de-mi{
        margin-top: 5%;
        height: auto;
        
    }
    #contenedor-texto h1{
        font-size: 35px;
    }
    #contenedor-texto h4{
        font-size: 26px;
    }
    #section1{
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #contenedor-texto{
        text-align: center;
    }
    #contenedor-texto-formulario{
        width: 90%;
    }
    #contacto{
        margin-top: -120px;
    }
    #contenedor-texto-2{
        width: 95%;
    }
    nav,footer{
        width: 100%;
    }
    
    #formulario-texto , #img-perfil-2 img{
        display: none;
    }
    #logos-about img{
        height: 35px;
    }
    .mostrar-responsive{
        color: #000000;
        margin: 10px 0px 0px 0px;
        border-radius: 5px;
        background-color: #ffffff;
        display: flex;
    }
    .mostrar-responsive img{
        padding: 8px;
        height: 2em;
    }
    #mi-trabajo{
        margin-bottom: 15%;
        height: auto;
    }
    .imagen-popup img{
        height: 70%;
    }
    .imagen-popup{
        width: 100%;
    }
    .imagen-popup img{
        width: 95%;
        height: 80%;
        object-fit: contain;
    }

}

@media only screen and (max-height: 500px) and (min-width: 320px) {
    #contacto{
        margin: 10% 0 12% 0;
        /* padding-bottom: 10%; */
    }
    #img-perfil figure img{
        margin-top: 50px;
        height: 150px;
    }
    .mostrar-responsive{
        display: none;
    }
}